header .limitador-largura {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .limitador-largura > img {
    max-width: 3.5rem;
    width: 100%;
}

header .limitador-largura button {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .limitador-largura button img {
    width: 2rem;
}

.header-light-mode {
    background-color: var(--branco);
}

.header-light-mode button {
    border: 1px solid var(--cor-subtitulo);
    background-color: var(--branco);
}

.header-dark-mode {
    background-color: var(--cor-background-dark-mode);
}

.header-dark-mode button {
    border: 1px solid var(--branco);
    background-color: var(--cor-background-dark-mode);
}