@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --fonte: 'Poppins', Arial, Helvetica, sans-serif;

    --cor-principal: #1f1f1f;
    --cor-destaque: #393939;
    --branco: white;
}

/* CSS geral do projeto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

html {
    font-size: 10px;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    background-color: var(--cor-destaque);
    border-radius: 2rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.400);
    width: 90%;
    max-width: 500px;
    margin: 5rem auto;
    padding: 2rem;
}

#add-button,
.complete-button,
.edit-button,
.delete-button {
    width: 3.6rem;
    height: 3.6rem;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.complete-button,
.edit-button,
.delete-button {
    background-color: var(--branco);
    color: var(--cor-principal);
    border: none;
    border-radius: 50%;
    padding: .3rem .6rem;
}

span  {
    pointer-events: none;
}

@media (hover: hover) {
    #add-button:hover {
        color: var(--cor-principal);
        background-color: var(--branco);
    }
    .edit-button:hover{
        color: var(--branco);
        background-color: var(--cor-destaque);
    }
    .complete-button:hover, #confirm-edit-button:hover {
        color: var(--branco);
        background-color: green;
    }
    .delete-button:hover,#cancel-edit:hover {
        color: var(--branco);
        background-color: red;
    }
    #confirm-edit-button:hover, #cancel-edit:hover {
        color: var(--branco);
    }
}

/* header do projeto */

header {
    padding-bottom: 2rem;
}

header h1 {
    color: var(--branco);
    font-size: 2.4em;
    font-weight: normal;
    margin-bottom: 2rem;
}

header form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input-tarefa, #edit-input {
    background-color: var(--cor-principal);
    color: var(--branco);
    border: none;
    border-radius: .65rem;
    padding: .2rem .5rem;
    width: 65%;
    height: 3.6rem;
    flex: .95;
}

#add-button {
    color: var(--branco);
    background-color: var(--cor-principal);
    border: none;
    border-radius: .65rem;
    padding: .3rem .6rem;
}

/* Lista de tarefas em si */

#lista-tarefas {
    margin-top: 2rem;
    min-height: 30rem;
}

.tarefa {
    background-color: purple;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    padding: 2rem;
    margin: 0 0 2rem;
}

.tarefa h3 {
    color: var(--branco);
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
    margin: 0 1rem 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    white-space: nowrap;
}

.container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

@media screen and (min-width: 768px) {
    .tarefa {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Seção de editar tarefas */
#edit-form h1 {
    color: var(--branco);
    font-size: 2.4rem;
    font-weight: normal;
}

#edit-input {
    width: 100%;
    margin: 2rem 0;
}

#confirm-edit-button, #cancel-edit {
    padding: .5rem;
    transition: .3s;
    border: none;
    border-radius: .65rem;
    margin-right: .5rem;
}

/* Eu precisei deixar isso aqui para funcionar */

.hide {
    display: none;
}

.completed {
    background-color: var(--cor-principal);
}

.completed h3 {
    font-style: italic;
    text-decoration: line-through;
}

.completed .complete-button,
.completed .edit-button,
.completed .delete-button {
    color: var(--branco);
    background-color: var(--cor-destaque);
}