.banner-home {
    background-color: var(--amarelo);
    background-image: url("/public/img/banner-home.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sabores,
.eventos,
.sobre {
    display: flex;
    align-items: center;
}

.sabores img,
.eventos img,
.sobre img {
    width: 50%;
    object-fit: cover;
}

.container-texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-texto h2 {
    font-size: 2.8em;
    text-transform: uppercase;
}

.container-texto span {
    font-size: 1.6em;
    font-weight: bold;
    font-style: italic;
    margin-top: -0.75rem;
    margin-bottom: 2rem;
}

.container-texto p {
    font-size: 1.4rem;
    width: 56%;
}

@media screen and (max-width: 768px) {
    .banner-home h1 {
        font-size: 6em;
    }
    .sabores,
    .sobre {
        flex-direction: column;
    }
    .eventos {
        flex-direction: column-reverse;
    }
    .sabores img,
    .eventos img,
    .sobre img {
        width: 100%;
    }
    .container-texto {
        width: 100%;
        padding: 10rem 0;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .banner-home h1 {
        font-size: 5em;
    }
}