.banner {
    background: linear-gradient(47deg, #000113 0%, #04061d 80%, #04061d 100%);
    background-image: url('/public/img/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.banner div {
    color: var(--branco);
    font-family: 'Anybody', cursive;
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    font-size: 6em;
    letter-spacing: .5rem;
    line-height: 7rem;
    text-transform: uppercase;
}

.banner p {
    color: rgb(196, 196, 196);
    font-size: 3.6em;
    margin: 2rem 0;
}

@media screen and (max-width: 768px) {
    .banner h1 {
        font-size: 4em;
        max-width: 35rem;
    }
    .banner p {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px) {
    .banner {
        height: 89%;
    }
}