@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,700&display=swap');

:root {
    font-size: 62.5%;
    
    --amarelo: #F9DB79;
    --preto: #000;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

.limitador-largura {
    max-width: 1024px;
    margin: auto;
    padding: 0 1rem;
}

h1 {
    color: var(--branco);
    font-size: 7em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 400);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 5em;
    }
}

