#work-experience {
    padding: 10rem 0;
}

.container-texto {
    text-align: center;
}

.container-texto h2 {
    font-size: 3.6rem;
    display: inline-block;
    position: relative;
    margin-bottom: 5rem;
}

.container-texto h2::before {
    content: "";
    background-color: var(--cor-destaque);
    height: 3px;
    width: 8rem;
    position: absolute;
    bottom: -40%;
    left: 40%;
}

.container-texto p {
    max-width: 55rem;
    text-align: center;
    font-size: 1.6rem;
    margin: auto;
    margin-bottom: 10rem;
}

.box-cards {
    display: flex;
    flex-wrap: wrap;
}

.work-experience-light-mode {
    background-color: var(--cor-background-destaque);
}

.work-experience-light-mode h2 {
    color: var(--cor-subtitulo);
}

.work-experience-light-mode p {
    color: var(--cor-texto);
}

.work-experience-dark-mode {
    background-color: var(--cor-background-destaque-dark-mode);
}

.work-experience-dark-mode h2, .work-experience-dark-mode .container-texto > p {
    color: var(--cor-texto-dark-mode);
}
